.section {
  background-color: var(--dark-purple);
  height: calc(100vh - 8rem);
  margin-block: 2rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  scroll-snap-align: start;
  padding: 2rem;
}

.h2 {
  margin-bottom: 2rem;
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--gold);
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: clamp(.75rem, 1.25vw, 1.5rem);
  line-height: 1.5;
  height: calc(100vh - 16rem);
  align-items: center;
  justify-items: center;
  color: var(--light-neutral);;
}

.aboutContent h3 {
  color: var(--light-purple);
}

.interests {
  margin-top: 1rem;
}

.img {
  background-color: gray;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  position: relative;
}