.section {
  background-color: darkgray;
  height: calc(100vh - 8rem);
  margin-block: 2rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  scroll-snap-align: start;
  padding: 2rem;
}

.h1 {
  margin-bottom: 1rem;
}

.contactContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.5vh;
  line-height: 1.5;
  height: calc(100vh - 16rem);
  gap: 1rem;
  align-items: center;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  display: block;
  width: 100%;
  border-radius: .75vh;
  border: none;
  padding: 1vh;
  margin-bottom: .5rem;
}

.error {
  margin-top: -0.25rem;
  color: darkred;
}

.button {
  width: 100%;
  padding-block: 1.5vh;
  border-radius: .75vh;
  border: none;
  margin-top: 1vh;
  font-weight: bold;
}

.contactImg {
  justify-self: center;
}
