.projectCard {
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.1);
}

.imageSection {
  border-radius: 1rem;
  background-color: gray;
  height: 50%;
  width: 100%;
  position: relative;
}

.contentSectionH3 {
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: var(--light-purple);
  margin-top: .5rem;
}

.contentSectionP {
  font-size: clamp(.75rem, 1.25vw, 1.5rem);
  color: var(--light-neutral);
  ;
  line-height: 1.25;
}

.projectPopup {
  position: fixed;
  top: 4rem;
  left: 25vw;
  width: 72.5vw;
  height: calc(100vh - 8rem);
  background-color: var(--light-purple);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: clamp(.75rem, 1.25vw, 2rem);
  text-align: left;
}

.projectPopupActive { 
  opacity: 1;
  visibility: visible;
}

.projectPopup p {
  margin-bottom: 1rem;
}

.projectPopupImage {
  height: calc(100vh - 16rem);
  position: relative;
}

.links {
  color: var(--dark-purple);
  display: flex;
  gap: 1rem;
}

.links a {
  transition: color .2s ease-in-out;
}

.links a:hover {
  color: var(--bg-purple);
}

.closeButton {
  width: 100%;
  padding: 1rem;
  border-radius: .75vh;
  border: none;
  text-align: left;
  font-weight: bold;
  font-size: clamp(.75rem, 1.25vw, 2rem);
  transform: translateX(75%);
  color: var(--light-neutral);
  background-color: var(--dark-purple);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.closeButton:hover {
  transform: translateX(50%);
}

.mainSection {
  background-color: var(--dark-purple);
  height: calc(100vh - 8rem);
  margin-block: 2rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  scroll-snap-align: start;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  padding: 2rem;
}

.mainSectionTransformed {
  transform: translateX(100%);
}

.mainSectionH2 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--gold);
  margin-bottom: 2rem;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-block: 0rem;
  height: calc(100vh - 16rem);
}