.section {
  background-color: var(--dark-purple);
  height: calc(100vh - 8rem);
  margin-block: 2rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  scroll-snap-align: start;
  padding: 2rem;
}

.h2 {
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--gold);
  margin-bottom: 0.5rem;
}

.resumeContent {
  display: grid;
  height: calc(100vh - 16rem);
  color: var(--light-neutral);
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.resumeText {
  font-size: clamp(.75rem, 1.25vw, 1.5rem);
  line-height: 1.2;
}

.h3 {
  font-size: clamp(.75rem, 1.25vw, 1.5rem);
  color: var(--light-purple);
  margin-bottom: .25rem;
}

.p {
  margin-bottom: .75rem;
}